		body{
			background:#eee;
			font-family: arial;
			font-size: 14px;
		}
		progress{
			display: none;
			width: 250px;
			height: 20px;
		}
		img{
			display: none;
		}
		#myCanvas{
			position:absolute;
			top: 60px;
			background:#eee;
		}
		#myCanvas2{
			display: none;
		}
		#submit_outline{
			position: absolute;
			left: 150px;
			height: 32px;
		}
		#submit_raster{
			position: absolute;
			left: 320px;
			height: 32px;
		}
		#settings{
			display:none;
		}
		#invert{
			position: absolute;
			top: 270px;
			left: 200px;
			height: 32px;
		}
		#mirror{
			position: absolute;
			top: 310px;
			left: 200px;
			height: 32px;
		}
		#width{
			position: absolute;
			top: 270px;
			left: 55px;
			width: 75px;
			height: 21px;
		}
		width{
			position: absolute;
			top: 280px;
		}
		mm1{
			position: absolute;
			top: 280px;
			left: 150px;
		}
		mm2{
			position: absolute;
			top: 320px;
			left: 150px;
		}
		mm3{
			position: absolute;
			top: 360px;
			left: 150px;
		}
		#height{
			position: absolute;
			top: 310px;
			left: 55px;
			width: 75px;
			height: 21px;
		}
		height{
			position: absolute;
			top: 320px;
		}
		depth{
			position: absolute;
			top: 360px;
		}
		#depth{
			position: absolute;
			top: 350px;
			left: 55px;
			width: 75px;
			height: 21px;
		}
		#get{
			position: absolute;
			height: 32px;
		}
		#file{
   		display: none;
		}
